<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<h1>Users</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Email</th>
        <th>Password</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.roles}"></td>
        <td>
            <a th:href="@{update(id=${user.id})}">Update</a>
            <a th:href="@{delete(id=${user.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<hr>
<div><a href="/admin/new"> <button>Create new user</button></a></div>
<form action="/logout" method="post" th:action="@{/logout}">
    <button type="submit">Выйти</button>
</form>

</body>
</html>